# ======================================================
# Application
# ======================================================
APP_NAME=FIX_FLOW
APP_VERSION=0.1

# ======================================================
# Question Configuration
# ======================================================
QUESTION_MIN_LENGTH=10
QUESTION_MAX_LENGTH=50010
ERROR_KEYWORDS=error,code,exception,failed,failure,fix,crash,not working,cannot,unable,issue,problem,bug,warning,undefined,null,traceback,stacktrace,invalid,unexpected,no signature,could not,unresolved,missing

# ======================================================
# Database Configuration
# ======================================================
DB_NAME=fixflow_db
MONGODB_URI=mongodb://username:password@localhost:27017/?authSource=admin

# ======================================================
# LLM Configuration
# ======================================================
LLM_DATA_EXTRACTOR_NAME=Qwen/Qwen2.5-3B-Instruct
MODEL_DIR=/path/to/models

MAX_OUTPUT_TOKENS=2048
TEMPERATURE=0.2

GENERATION_BACKEND=QWEN
LLM_PROVIDER=local_transformers

DEVICE=cuda
TORCH_DTYPE=float16
LOAD_IN_4BIT=false

LLM_API_KEY=
LLM_API_BASE_URL=

# ======================================================
# Embedding Configuration
# ======================================================
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DEVICE=cuda
EMBEDDING_BATCH_SIZE=64
INPUT_MAX_CHRACTERS=2400
EMBEDDING_SIZE=512
EMBEDDING_BACKEND=MiniLM

# ======================================================
# TF-IDF Configuration
# ======================================================
TFIDF_MODEL_PATH=/path/to/tf_idf.pkl
TEXT_ENCODER=TFIDF

# ======================================================
# Classifier Configuration
# ======================================================
CLASSIFIER_MODEL_PATH=/path/to/cluster_classifier.pkl
CLASSIFIER_BACKEND=SVC
CLUSTER_CONFIDENCE_THRESHOLD=0.6

# ======================================================
# Label Encoder Configuration
# ======================================================
LABEL_ENCODER_PATH=/path/to/label_encoder.pkl
LABEL_ENCODER_FALLBACK_LABEL=Other
LABEL_ENCODER_TOP_K=5
LABEL_ENCODER=ENCODER

# ======================================================
# Vector Store Configuration
# ======================================================
VECTOR_STORE_BACKEND=QDRANT
DISTANCE_METRIC=cosine
DATABASE_FOLDER=Database


# ======================================================
# Logging Configuration
# ======================================================
DEFAULT_LANGUAGE=en
PRIMARY_LANGUAGE=ar

#search Configuration
STACK_OVERFLOW_SCEARCH_BACKEND=stackoverflow
STACK_OVERFLOW_BASE_URL=https://api.stackexchange.com/2.3


MAX_DOCUMENTS = 3
MAX_ANSWERS_PER_DOCUMENT = 2
MAX_QUESTION_CHARS = 1500
MAX_ANSWER_CHARS = 2500