# Environment variables for the application
APP_NAME="FIX_FLOW"
APP_VERSION="0.1"

# Question Variables
QUESTION_MIN_LENGTH=
QUESTION_MAX_LENGTH=
ERROR_KEYWORDS = ""

#Database Configuration
DB_NAME=""
MONGODB_URI=""

#LLM Configuration
LLM_DATA_EXTRACTOR_PATH=""
MODELS_CACHE_PATH=""
